{% extends "ferdsilinks_website/base.html" %}
{% load static %}

<!-- Page title  -->
{% block title %} Ferdsilinks | {{page_title}} {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block heading %}Add category{% endblock heading %}

<!-- Page Header -->
{% block header %}

<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Contact Us</h1>
            <a href="{% url 'pages:home' %}" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">Contact</a>
        </div>
    </div>
</div>
{% endblock header %}


{% block content %}
<!-- Contact Start -->
<div class="container py-5">
    <div class="section-title-1 text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
        <h5 class="fw-bold text-primary text-uppercase">Contact Us</h5>
        <h1 class="mb-0">If You Have Any Query, Feel Free To Contact Us</h1>
    </div>
    <div class="row g-5 mb-5">
        <div class="col-lg-4">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                    style="width: 60px; height: 60px;">
                    <i class="fa fa-phone-alt text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">Call to ask any question</h5>
                    <h4 class="text-primary mb-0">+237 652 002 630</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                    style="width: 60px; height: 60px;">
                    <i class="fa fa-envelope-open text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">Email to get free quote</h5>
                    <h4 class="text-primary mb-0">ferdsilinks@gmail.com</h4>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s"
                style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                    style="width: 60px; height: 60px;">
                    <i class="fa fa-map-marker-alt text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">Visit our office</h5>
                    <p class="mb-0">Office Address: Beside Presbyterian Church Molyko, Buea, Cameroon</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-lg-6 contact-form wow slideInUp" data-wow-delay="0.3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
            <div id="alertMessage"></div>
            <form id="contactForm" novalidate="novalidate">
                <div class="row gx-3">
                    <div class="col-md-6 control-group">
                        <input type="text" class="form-control border-0 bg-light px-4" id="name" placeholder="Your Name"
                            required="required" data-validation-required-message="Please enter your name"
                            style="height: 55px;">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="col-md-6 control-group">
                        <input type="email" class="form-control border-0 bg-light px-4" id="email"
                            placeholder="Your Email" required="required"
                            data-validation-required-message="Please enter your email" style="height: 55px;">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="col-12 control-group">
                        <input type="text" class="form-control border-0 bg-light px-4" id="subject"
                            placeholder="Subject" required="required"
                            data-validation-required-message="Please enter a subject" style="height: 55px;">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="col-12 control-group">
                        <textarea class="form-control border-0 bg-light px-4 py-3" rows="4" id="message"
                            placeholder="Message" required="required"
                            data-validation-required-message="Please enter your message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit" id="sendMessageButton">
                            <span>SEND</span>
                            <div class="d-none spinner-border spinner-border-sm text-light ms-3" role="status"></div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s"
            style="visibility: visible; animation-delay: 0.6s; animation-name: slideInUp;">
            <iframe class="position-relative rounded w-100 h-100"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d171162.0368808819!2d9.2316!3d4.1550!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103a8b90b685a2d3%3A0x2dd9a9f4c5cd7417!2sBuea%2C%20Cameroon!5e0!3m2!1sen!2sbd!4v1642596586076!5m2!1sen!2sbd"
                frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock content %}