{% load static %}

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5 mb-5">
            <div class="bg-white">
                <div class="owl-carousel vendor-carousel">
                    <img src="{% static 'img/partners/p1.jpeg' %}" alt="">
                    <img src="{% static 'img/partners/p2.jpeg' %}" alt="">
                    <img src="{% static 'img/partners/p4.png' %}" alt="">
                    <img src="{% static 'img/partners/p1.jpeg' %}" alt="">
                    <img src="{% static 'img/partners/p2.jpeg' %}" alt="">
                    <img src="{% static 'img/partners/p4.png' %}" alt="">
                    <img src="{% static 'img/partners/p1.jpeg' %}" alt="">
                    <img src="{% static 'img/partners/p2.jpeg' %}" alt="">
                    <img src="{% static 'img/partners/p4.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
