{% load static %}
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
            <h1 class="mb-0">What Our Clients Say About Our Digital Services</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
            <!-- <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="{% static 'img/avatar/male.jpeg' %}"
                        style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Njie Emmanuel</h4>
                        <small class="text-uppercase">Profession</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                </div>
            </div> -->
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="{% static 'img/avatar/female.png' %}"
                        style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Chu Sharon</h4>
                        <small class="text-uppercase">Student</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">

                    "I am thoroughly impressed with the level of professionalism and expertise displayed throughout my research project. Great job!"
                </div>
            </div>
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="{% static 'img/avatar/male-2.png' %}" style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Regan Nfor</h4>
                        <small class="text-uppercase">Business Man</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    "Your team's expertise and innovative solutions have made a significant positive impact on our operations."
                </div>
            </div>
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="{% static 'img/avatar/female-2.png' %}"
                        style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Madame Fidele</h4>
                        <small class="text-uppercase">Cosmetic Shop Owner</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">

                    "Your team truly exceeded my expectations! The attention to detail and quality of work were
                    exceptional."

                </div>
            </div>
           
        </div>
    </div>
</div>